<div class="container">
<h1>Lista wszystkich klientów</h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Imię</th>
    <th scope="col">Nazwisko</th>
    <th scope="col">Pesel</th>
    <th scope="col">Adres</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let client of clients" >
    <th scope="row">{{client.id}}</th>
    <td>{{client.firstName}}</td>
    <td>{{client.lastName}}</td>
    <td>{{client.pesel}}</td>
    <td><input type="button" value="Pokaż" routerLink="../../address/address-view/{{client.id}}"></td>
  </tr>

  </tbody>
</table>
<a routerLink="">Powrót do strony głównej</a>
</div>

