<div class="container">
  <br>
  <br>
<!--  <form (ngSubmit)="onLoginFormSubmit()" *ngIf="!user" class="row-cols-lg-3">-->
<!--    <div >-->
<!--  <label>-->
<!--    Login: <input type="text" class="form-control" name="username" [(ngModel)]="username">-->
<!--  </label>-->
<!--  <label>-->
<!--    Hasło: <input type="text" class="form-control" name="password" [(ngModel)]="password">-->
<!--  </label>-->
<!--      <br>-->
<!--      <br>-->
<!--    </div>-->
<!--  <input class="btn btn-primary" type="submit"  value="Zaloguj">-->
<!--</form>-->
<!--<div *ngIf="user">-->
<!--  <input type="button"class="btn btn-primary" value="Wyloguj" (click)="logout()">-->
  <h1>WITAMY W BAZIE KLIENTÓW BANKU "XYZ"</h1>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="client/client-create">Nowy Klient</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/client/clients-list">Lista Klientów</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/client/find-client">Znajdź Klienta</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Szukaj po produkcie" aria-label="Search" [(ngModel)]="seekword" name="seekword" >
          <button class="btn btn-outline-success" type="submit" routerLink="/seeking/{{seekword}}" >Szukaj</button>
        </form>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"  >
          <a class="nav-link active" aria-current="page" routerLink="/user/add-new-user">Dodaj użytkownika</a>
        </li>
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/user/user-list">Lista użytkowników</a>
        </li>
          <li class="nav-item" >
          <a class="nav-link active justify-content-end" aria-current="page" routerLink="">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="30" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 3.293l6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
              <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
            </svg>  Home</a>
        </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
  <br>
  <br>

<!--</div>-->
<router-outlet></router-outlet>
